* {
  padding: 0;
}

html, body { 
  width: 100%; 
  height: 100%; 
}

.game {
  margin: auto;
  width: 70%;
  height: 70%;
}

#board {
  position: absolute;
  background-color: rgb(89, 152, 47);
  width: 70%;
  height: 70%;
}

#slug {
  position: relative;
  left:20%;
  top:40% 
}

#worm {
  position: relative;
  left:50%;
  top:40% 
}

#python {
  position: relative;
  left:80%;
  top:40% 
}

#random {
  position: relative;
  left:20%;
  top:60% 
}

#black {
  position: relative;
  left:50%;
  top:60% 
}

#change {
  position: relative;
  left:80%;
  top:60% 
}
