@font-face {
  font-family: 'Undertale';
  src: url('fonts/DeterminationMonoWebRegular-Z5oq.ttf') format('truetype'),
       url('fonts/DeterminationMonoWebRegular-Z5oq.eot') format('woff'),
       url('fonts/DeterminationMonoWebRegular-Z5oq.woff');
}

* {
  font-family: 'Undertale';
  margin: 0;
  padding: 0;
}

html, body { 
  width: 100%; 
  height: 100%; 
  background-color: black;
}

#score {
  text-align: center;
  font-size: 100px;
  color: white;
}

.game {
  margin: auto;
  position: relative;
  width: 500px;
  height: 500px;
}

#title {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#end {
  display: none;
  top: 100px;
  position: absolute;
  text-align: center;
  font-size: 75px;
}

#board {
  position: absolute;
  width: 500px;
  height: 500px;
}

button {
  position: absolute;
  font-size: 16px;
  border: none;
  background: none;
}

#slug {
  top: 250px; 
  text-align: left;
}

#worm {
  top: 250px; 
  text-align: center;
}

#python {
  top: 250px; 
  text-align: right;

}

#random {
  top: 300px; 
  text-align: left;
}

#black {
  top:300px; 
  text-align: center;
}

#change {
  top:300px; 
  text-align: center;
}

#rainbow {
  top:300px; 
  text-align: right;
}
