* {
  padding: 0;
}

html, body { 
  width: 100%; 
  height: 100%; 
  background-color: rgb(110, 47, 152);
}

#score {
  text-align: center;
  font-size: 140px;
}

.game {
  margin: auto;
  position: relative;
  width: 500px;
  height: 500px;
  z-index: -1;
}

#board {
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: -1;
}

#slug {
  position: absolute;
  top: 100px; 
  left: 150px;

}

#worm {
  position: absolute;
  top:100px; 
  left:250px; 
}

#python {
  position: absolute;
  top:100px; 
  left:350px;
}

#random {
  position: absolute;
  top:300px; 
  left:150px;
}

#black {
  position: absolute;
  top:300px; 
  left:250px;
}

#change {
  position: absolute;
  top:300px; 
  left:350px;
}
